body {
  background-color: rgb(255, 235, 239);
}

#pushpin-icon {
  position: absolute;
  top: -20px;
  right: -10px;
}

button {
  width: 35px !important;
  height: 35px !important;
  border-radius: 10px !important;
  /* background-color: none !important; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.img-thumbnail {
  object-fit: cover;
  border-radius: 8px;
}

.note-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 0, 170, 0.829);
  z-index: 5;
}
