<form
  id="noteForm"
  method="post"
  action="{% url 'edit_note' note.id %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">{{ action }} Note</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">{{ form.as_p }}</div>

    <input type="hidden" name="deleted_images" id="deletedImages" value="" />

    {% if note.images.all %}
    <div class="mb-3">
      <label>Existing Images:</label>
      <div class="d-flex flex-wrap gap-2">
        {% for image in note.images.all %}
        <div class="position-relative" style="width: 100px; height: 100px">
          <img
            src="{{ image.image.url }}"
            class="img-thumbnail h-100 w-100 object-fit-cover"
            style="object-fit: cover"
            data-image-id="{{ image.id }}"
          />
          <button
            type="button"
            class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1 delete-image-btn"
            data-image-id="{{ image.id }}"
            style="opacity: 0.7"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="mb-3">
      <label for="newImages" class="form-label">Add More Images</label>
      <input
        type="file"
        class="form-control"
        id="newImages"
        name="new_images"
        multiple
        accept="image/*"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-success d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-floppy"></i>
    </button>
    <button
      type="button"
      class="btn btn-secondary d-flex align-items-center justify-content-center"
      data-bs-dismiss="modal"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</form>
